*{
    padding:0;
    margin:0;
}
ul,ol{
    list-style: none;
}
body{
    font:12px Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    /*height: 5000px;*/
}
img{
    vertical-align: top;
    border:0
}
b,strong,h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
i,em{
    font-style:normal;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
input{
    outline:none;
    border:0;
}
a,u{
    text-decoration: none;
}
 .nav span{
    width: 30px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    position: absolute;
    top: 1px;
    right: -28px;
    background-color: #1ec896;
    color:#fff;
    font-size: 12px;
}
.nav s{
    width: 0;
    height: 0;
    border:7px solid ;
    border-color:transparent #1ec896 transparent transparent;
    position: absolute;
    top: 0;
    left: -14px;
}
.w1000{
    width: 1000px;
    margin:0 auto;
}